<h4 class="card-header">Reset Password</h4>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <form [formGroup]="resetForm">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" formControlName="userName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && formData['userName'].errors }" />
                <div *ngIf="submitted && formData['userName'].errors" class="invalid-feedback">
                    <div *ngIf="formData['userName'].errors">Username is required</div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="password"> Old Password</label>
                <input type="password" formControlName="oldpassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && formData['oldpassword'].errors }" />
                <div *ngIf="submitted && formData['oldpassword'].errors" class="invalid-feedback">
                    <div *ngIf="formData['oldpassword'].errors">Password is required</div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <label for="password"> New Password</label>
                <input type="password" formControlName="newpassword" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && formData['newpassword'].errors }" />
                <div *ngIf="submitted && formData['newpassword'].errors" class="invalid-feedback">
                    <div *ngIf="formData['newpassword'].errors">Password is required</div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary" (click)="onSubmit()" [disabled]="submitted">Reset Password</button>
            </div>
            <div *ngIf="message" class="alert alert-success">{{message}}</div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
</div>