<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand pl-2" href="#">TweetApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex flex-row justify-content-between">
      <li class="nav-item active" *ngIf="!isLoggedIn">
        <a class="nav-link" (click)="setTab(1,'login')">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" (click)="setTab(2,'register')">Register</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="setTab(3,'tweet')">Tweets</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="setTab(4,'showalluser')">Friends</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" (click)="setTab(5,'forgotPassword')">Forgot Password</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="setTab(6,'resetPassword')">Reset Password</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
  <div class="float-right pr-4" *ngIf="isLoggedIn">
    Logged in as : {{UserName}} &nbsp;&nbsp;
  </div>
</nav>