<h4 class="card-header">Login</h4>
<br>
<section class="vh-100">
    <form [formGroup]="loginForm">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="form1Example13" formControlName="userName" class="form-control form-control-lg" 
              [ngClass]="{ 'is-invalid': submitted && formData['userName'].errors }" />
              <label class="form-label" for="form1Example13">Email address</label>       
              <div *ngIf="submitted && formData['userName'].errors" class="invalid-feedback">
                <div *ngIf="formData['userName'].errors">Username is required</div>
            </div>         
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form1Example23" formControlName="password"  
              class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && formData['password'].errors }" />
              <label class="form-label" for="form1Example23">Password</label>
              <div *ngIf="submitted && formData['password'].errors" class="invalid-feedback">
                <div *ngIf="formData['password'].errors">Password is required</div>
            </div>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>

            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                <label class="form-check-label" for="form1Example3"> Remember me </label>
              </div>
              <a (click)="setTab(5,'forgotPassword')">Forgot password?</a>
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onLogin()">Sign in</button>
  
            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
              </div>
    
              <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" (click)="setTab(2,'register')"
                role="button">
                <i class="" ></i>Register
              </a>
        </div>
      </div>
    </div>
    </form>
</section>